<script id="js-product-index" type="text/template">
  <button type="button" class="btn btn-primary js-show-create-modal">Создать Продукт</button>
  <div id="js-create-region"></div>
  <div id="js-items-region"></div>
</script>

<script id="js-product-item" type="text/template">
  <a href="#product/<%%=id%>"><%%-name%></a>
  <span class="js-remove glyphicon glyphicon-trash pull-right" aria-hidden="true"></span>
</script>
