<script id="js-label-create" type="text/template">
  <div class="modal fade" id="js-create-modal" tabindex="-1" role="dialog" aria-labelledby="createModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="createModalLabel">Новый Лейбл</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="js-name">Название</label>
            <input type="text" class="form-control" id="js-name" name="name" placeholder="Введите название">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
          <button type="button" id="js-create" class="btn btn-primary">Сохранить</button>
        </div>
      </div>
    </div>
  </div>
</script>
