<script id="js-label-index" type="text/template">
  <button type="button" class="btn btn-primary js-show-create-modal">Создать Лейбл</button>
  <div id="js-create-region"></div>
  <h4>Лейблы:</h4>
  <div id="js-items-region"></div>
</script>

<script id="js-label-item" type="text/template">
  <%%-name%>
  <span class="js-remove glyphicon glyphicon-trash pull-right" aria-hidden="true"></span>
</script>
