<script type="text/template" id="js-label-update">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="form-group">
        <label for="js-list-name">Название</label>
        <input type="text" class="form-control" id="js-label-name" name="name" placeholder="Name" value="<%%- name %>"">
      </div>
    </div>
  </div>
</script>
