<script id="js-dashboard-nav" type="text/template">
  <ul class="nav nav-pills">
    <li role="presentation" class="js-nav-item active" data-name="lists"><a href="#lists">Списки</a></li>
    <li role="presentation" class="js-nav-item" data-name="products"><a href="#products">Продукты</a></li>
    <li role="presentation" class="js-nav-item" data-name="stats"><a href="#stats">Статистика</a></li>
  </ul>
</script>
